form {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 10px;
  padding-block-start: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 10px;
  background-color: white;
}

button[mat-icon-button] {
  margin-top: 9px;
}
