.bubble-container {
  display: grid;
  grid-template-columns: 40px auto;
  gap: 10px;
}

.reverse {
  direction: rtl;
}

.avatar {
  width: 100%;
  border-radius: 50%;
  margin-block-start: 6px;
}

mat-card {
  padding: 8px;
  width: fit-content;
  max-width: 70%;
  word-break: break-word;
  direction: ltr;
}

.chat-img {
  width: 100%;
  object-fit: contain;
}

.chat-time {
  font-size: 10px;
  text-align: right;
}
