<div
  class="bubble-container"
  [class.reverse]="chat.user.displayName | isMe: 'boolean' | async"
>
  <img [src]="chat.user.photoURL || 'assets/avatar.png'" class="avatar" />
  <mat-card>
    <p class="mat-small color-accent">
      {{ chat.user.displayName | isMe | async }}
    </p>
    <img
      [src]="chat.imgUrl"
      class="chat-img"
      loading="lazy"
      *ngIf="chat.imgUrl"
    />
    <p *ngIf="chat.text">{{ chat.text }}</p>
    <div class="chat-time">
      {{ chat.timestamp | date: 'shortTime' }}
    </div>
  </mat-card>
</div>
